:root {
  /* Color palette */

  /* Foreground (Text) Colors */
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-tertiary: #999999;
  --color-text-on-primary: #ffffff;
  --color-text-on-secondary: #333333;
  --color-text-on-tertiary: #ffffff;

  /* Background Colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f7f7f7;
  --color-bg-tertiary: #eeeeee;
  --color-bg-primary-accent: #5ec576;
  --color-bg-secondary-accent: #ffcb03;
  --color-bg-tertiary-accent: #ff585f;

  /* Border Colors */
  --color-border-primary: #cccccc;
  --color-border-secondary: #b3b3b3;
  --color-border-tertiary: #e0e0e0;
  --color-border-on-primary: #4bbb7d;
  --color-border-on-secondary: #ffbb00;
  --color-border-on-tertiary: #fd424b;

  /* Primary, Secondary, Tertiary Colors */
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;

  --color-primary-dark: #4bbb7d;
  --color-secondary-dark: #ffbb00;
  --color-tertiary-dark: #fd424b;

  --color-primary-light: #80d490;
  --color-secondary-light: #ffdc33;
  --color-tertiary-light: #ff7b83;

  --color-primary-muted: #5ec5763a;
  --color-secondary-muted: #ffcb0331;
  --color-tertiary-muted: #ff58602d;

  --color-primary-accent: #2e944c;
  --color-secondary-accent: #fca503;
  --color-tertiary-accent: #d93841;

  /* Gradients */
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --gradient-tertiary: linear-gradient(to top right, #ff5a70, #ff8a94);

  /* Spacing */
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
  --spacing-4xl: 96px;

  /* Font Size */
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-2xl: 48px;
  --font-3xl: 64px;

  /* Break point */
  --break-point-sm: 640px;
  --break-point-md: 768px;
  --break-point-lg: 1024px;

  /* Size */
  --size-sm: 640px;
  --size-md: 768px;
  --size-lg: 1024px;
  --size-xl: 1280px;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-strong: 700;
}

html {
  font-size: var(--font-md);
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-primary);
  line-height: 1.5;
  background-color: var(--color-bg-primary);
}

html, body {
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


.page-block {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  max-width: 100%;
}

@media (min-width: 768px) {
  .page-block {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }
}

.content-block {
  width: 100%;
  max-width: var(--size-xl);
  margin: 0 auto;
}

.content-block__sm {
  max-width: var(--size-sm);
}

.content-block__md {
  max-width: var(--size-md);
}

.content-block__lg {
  max-width: var(--size-lg);
}

.header {
  position: relative;
  width: 100%;
  flex-grow: 0;
  background-color: #80d490;
}

.header__wrapper {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;

}

.main {
  flex-grow: 1;
  padding-top: var(--spacing-3xl);
}


@media (min-width: 1024px) {
  .main{
    padding-top: var(--spacing-lg);
  }
}

.footer {
  height: 200px;
  flex-grow: 0;
  padding-top: var(--spacing-xl);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.input {
  border: 1px solid var(--color-border-primary);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  height: 48px;
  border-radius: 8px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  color: var(--color-text-on-tertiary);
  font-size: var(--font-md);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-3xl);
}

.loader {
  border: 8px solid var(--color-border-secondary);
  border-top: 8px solid var(--color-primary); 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none !important;
}

.dashboard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);
}

@media (min-width: 1024px) {
  .dashboard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 100px;
  }
}

.balance {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .balance {
    grid-column: 1 / 3;
  }
}

.balance__label {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-medium);
}

@media (min-width: 1024px) {
  .balance__label {
    font-size: var(--font-xl);
  }
}

.balance__date {
  font-size: var(--font-sm);
  color: var(--color-text-secondary);
}

@media (min-width: 1024px) {
  .balance__date {
    font-size: var(--font-md);
  }
}

.balance__value {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-medium);
}

@media (min-width: 1024px) {
  .balance__value {
    font-size: var(--font-2xl);
  }
}


/* transactions */
.transactions-history {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

@media (min-width: 1024px) {
  .transactions-history {
    grid-column: 1 / 2;
  }
}

.transactions {
  border-radius: 16px;
  border: 1px solid var(--color-border-primary);
  overflow: scroll;
}

.transactions__row {
  padding: var(--spacing-lg) var(--spacing-xl);
  display: flex;
  align-items: center;
}

.transactions__row:not(:last-child) {
  border-bottom: 1px solid var(--color-border-tertiary);
}

.transactions__type {
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-on-primary);
  padding: var(--spacing-2xs) var(--spacing-sm);
  border-radius: 8px;
  margin-right: var(--spacing-xs);
}

.transactions__date {
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
}

.transactions__type--deposit {
  background-color:  var(--color-primary);
}

.transactions__type--withdrawal {
  background-color: var(--color-tertiary);
}

.transactions__value {
  font-size: var(--font-md);
  margin-left: auto;
}

/* SUMMARY */
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
}

@media (min-width: 768px) {
  .summary {
    justify-content: flex-start;
  }
}

.summary__item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

@media (min-width: 768px) {
  .summary__item {
    flex-direction: row;
  }
}

.summary__label {
  font-size: var(--font-md);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  margin-right: var(--spacing-xs);
}

.summary__value {
  font-size: var(--font-md);
  margin-right: var(--spacing-sm);
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.operation-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

@media (min-width: 1024px) {
  .operation-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}



/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}